:root {
  --main-color: white;
}

.Weather {
  border: 1px solid rgb(135, 135, 135);
  background-color: #144d6c;
  border-radius: 8px;
  padding: 16px;
  margin: 30px auto;
}

.Weather h1 {
  color: var(--main-color);
  display: block;
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 200;
}

.WeatherTemperature {
  font-weight: bold;
  font-size: 64px;
  color: var(--main-color);
  line-height: 64px;
  font-weight: 400;
  margin-top: -70px;
}

.WeatherIcon {
  height: 64px;
  width: 64px;
  margin-right: 200px;
  display: inline-block;
  position: relative;
}

.TempUnit {
  font-weight: bold;
  font-size: 64px;
  color: var(--main-color);
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}

.WeatherForecast {
  color: var(--main-color);
}

.Clouds {
  width: 700px;
  height: 400px;
}

.Button {
  margin-right: 5px;
  color: var(--main-color);
}

.Size {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -30px;
  margin-left: 5px;
  line-height: 1;
}
