.Weather {
  border: 1px solid rgb(135, 135, 135);
  background-color: rgb(52, 50, 50);
  border-radius: 8px;
  padding: 16px;
  margin: 30px auto;
}

.Weather h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 200;
}

.WeatherTemperature .Temperature {
  font-weight: bold;
  font-size: 64px;
  color: rgb(135, 135, 135);
  line-height: 64px;
  font-weight: 400;
}

.WeatherIcon {
  height: 64px;
  width: 64px;
  margin-right: 200px;
  display: inline-block;
  position: relative;
}

.TempUnit {
  font-weight: bold;
  font-size: 64px;
  color: rgb(135, 135, 135);
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}

.WeatherForecast {
  color: rgb(135, 135, 135);
}
